<%- include("header") -%>

<h2>This is the about page</h2>

<p>Our notes taking app is designed to simplify the process of creating, organizing, and storing notes. With its intuitive interface and powerful features, our app provides users with an easy and effective way to keep track of all their important information.</p>

<%- include("footer") -%>
